<form class="ui stacked segment form" action="/trainer/{{memberid}}/addcomment/{{id}}" method="POST">
  <div class="sixteen wide field">
    <label>Comment</label>
    <textarea placeholder="Comment" name="comment" rows="2"></textarea>
    <button class="ui blue submit button">Comment</button>
  </div>
</form>