{{> welcomemenu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h1>Sraithín Gym Services</h1>
<h2>Established 2020</h2>
<div class="ui left aligned segment">
  <p>Sraithín Gym Services is a great gym.
    <br>We're based in Sraithín - the heart of Sraithín, Co. Clare.
    <br>We offer great fitness plans, and various testimonials from successful athletes from all walks of life,
    will attest to our level of expertise and to the great service that we provide.
    <br>Some of our members include great sports stars from all sporting disciplines, such as:
  <div class="ui basic left aligned segment">
  <Ul class="ui list">
    <li>Ger "Redser" O'Grady</li>
    <li>Diarmaid "The Rock" O'Sullivan</li>
    <li>PJ "Fingers" O'Connell</li>
    <li>John Carroll</li>
    <li>Johnny Pilkington</li>
  </Ul>
  </div></p>
  <img class="ui image" src="https://cdn.glitch.com/17bb1a79-de82-4fa8-a3fd-6cd5d2fb02c9%2Fredser.jpg?v=1595697251963">
  <figcaption><i>"I lost over 200lb after joining Sraithín Gym Services diet program"</i><br>-Redser</figcaption>
</div>