{{> membermenu id="dashboard"}}

<section class="ui segment">
  <section class="ui header">
    {{member.name}}
  </section>
  {{> dataanalytics}}
  {{> addassessment}}
  {{> listassessments}}
</section>