{{> welcomemenu id="about"}}

<div class="ui left aligned segment">
  <h1 class="ui header">
    Welcome to Sraithín Gym Services
  </h1>
  <p>
    We will get you in great physical shape
  </p>
<img class="ui image" src="https://cdn.glitch.com/17bb1a79-de82-4fa8-a3fd-6cd5d2fb02c9%2Fpilkington.webp?v=1595707461462">
<figcaption class = "ui left floated text"><i>"I would recommend Sraithín Gym Services to a friend"</i><br>-Johnny Pilkington (Sraithín Gym Services Brand Ambassador)</figcaption>
</div>